<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="AccessorJavadoc"
            id="recyclebin5385.eclipse.plugin.accessorjavadoc.commands.category">
      </category>
      <command
            name="Generate Getter/Setter Javadocs from Field Javadocs..."
            categoryId="recyclebin5385.eclipse.plugin.accessorjavadoc.commands.category"
            id="recyclebin5385.eclipse.plugin.accessorjavadoc.commands.generateAccessorJavadocCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="recyclebin5385.eclipse.plugin.accessorjavadoc.commands.generateAccessorJavadocCommand"
            class="recyclebin5385.eclipse.plugin.accessorjavadoc.handlers.GenerateAccessorJavadocHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="recyclebin5385.eclipse.plugin.accessorjavadoc.commands.generateAccessorJavadocCommand"
            contextId="org.eclipse.ui.textEditorScope"
            sequence="Ctrl+Shift+D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="AccessorJavadoc"
               mnemonic="J">
            <command
                  commandId="recyclebin5385.eclipse.plugin.accessorjavadoc.commands.generateAccessorJavadocCommand"
                  mnemonic="J">
            </command>
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.jdt.ui.CompilationUnitEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext?after=additions">
         <menu
               label="AccessorJavadoc"
               mnemonic="J">
            <command commandId="recyclebin5385.eclipse.plugin.accessorjavadoc.commands.generateAccessorJavadocCommand"
                  id="recyclebin5385.eclipse.plugin.accessorjavadoc.menus.generateAccessorJavadocCommandContext"
                  mnemonic="J">
            </command>
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.jdt.ui.CompilationUnitEditor">
                  </equals>
               </with>
            </visibleWhen>            
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="recyclebin5385.eclipse.plugin.accessorjavadoc.preferences.PreferencePage"
            id="recyclebin5385.eclipse.plugin.accessorjavadoc.preferences.PreferencePage"
            name="AccessorJavadoc">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="recyclebin5385.eclipse.plugin.accessorjavadoc.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
